/* Page Top */

/* Variables */
:root {
  --speacial-gray: #222222;
}

/* Body */
body {
    font-family: "Nano Sans Mono";
    color: white;
    background: var(--speacial-gray);
    margin: 30px;
}

/* Div */


/* Text color */
.color-black {
    color: black;
}
.color-grey {
    color: var(--speacial-gray);
}

/* ======== Links ======== */
/* ---- 
a:link - a normal, unvisited link
a:visited - a link the user has visited
a:hover - a link when the user mouses over it
a:active - a link the moment it is clicked 
---- */

/* ==== Normal Links ==== */
a:link {
    color: white;
}
a:visited {
    color: white;
}

/* ==== Link Hover ==== */
a:hover {
    color: lightgray;
}
a:hover .cyan {
    color: #00b3b3;
}
a:hover .red {
    color: pink;
}

/* ==== Activated Links ==== */
a:active {
    color: darkgray;
}

/* ======== Navigation Bar ======== */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
