/* CSS Top */

/* ============ Body ============= */
body {
    font-family: "Nano Sans", sans-serif;
    color: white;
    background: #222222;
}

/* ============ Classes ============ */

@media (min-width: 375px) {
    /* Tablet */
    .page-content {
        margin: 100px 5px 20px 20px;
    }
}

@media (min-width: 3264px) {
    .page-content {
        margin: 60px 5px 20px 20px;
    }
}

/* ============ Text color ============ */
.color-black {
    color: black;
}
.color-grey {
    color: #222222;
}

/* ============ Links ============ */
/* ------------ 
a:link - a normal, unvisited link
a:visited - a link the user has visited
a:hover - a link when the user mouses over it
a:active - a link the moment it is clicked 
--------------- */

/* ==== Normal Links ==== */

a:link {
    color: white;
}

/* ==== Visited Links ==== */

a:visited {
    color: white;
}

/* ==== Link Hover ==== */

a:hover {
    color: lightgray;
}

/* ==== Active Link ==== */

a:active {
    color: darkgray;
}

/* ============ Navigation Bar ============ */

ul {
  list-style-type: none;
  margin: auto;
  margin-right: 0;
  padding: 0;
  overflow: visible;
  background-color: #333;
  position: fixed;
  top: 0;
  width: auto;
  border-radius: 15px;
  z-index: 10;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.item-one {
    border-radius: 15px 0 0 15px;
}
.item-end {
    border-radius: 0 15px 15px 0;
}
ul.media-nav {
    all: unset;
    bottom: 0;
    margin-left: 550px;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #33ccff;
}

/* ============ Pogress bar ============
From w3schools.com and modified by me    */
.w3-round-xlarge {
    border-radius:16px;
}

.w3-container {
    padding:0.01em 16px;
}

.w3-container:after,.w3-container:before {
    content:"";
}

.w3-blue {
    display:table;
    clear:both;
}

.w3-blue,.w3-hover-blue:hover {
    color: #fff!important;
    background-color: #2196F3!important;
}

.w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover {
    color:#000!important;
    background-color:#f1f1f1!important;
}

.w3-round,.w3-round-medium {
    border-radius:16px;
}