/* Page Top */

/* Variables */
:root {
  --speacial-gray: #222222;
}

/* Body */
body {
    font-family: "Nano Sans", sans-serif;
    color: white;
    background: var(--speacial-gray);
    margin: 30px;
}

/* Div */
div .fix {
    padding-top: 30px;
}

/* Text color */
.color-black {
    color: black;
}
.color-grey {
    color: var(--speacial-gray);
}

/* ======== Links ======== */
/* ---- 
a:link - a normal, unvisited link
a:visited - a link the user has visited
a:hover - a link when the user mouses over it
a:active - a link the moment it is clicked 
---- */

/* ==== Normal Links ==== */
a:link {
    color: white;
}
a:visited {
    color: white;
}

/* ==== Link Hover ==== */
a:hover {
    color: lightgray;
}
a:hover .cyan {
    color: #00b3b3;
}
a:hover .red {
    color: pink;
}

/* ==== Activated Links ==== */
a:active {
    color: darkgray;
}

/* ============ Navigation Bar ============ */
ul {
  list-style-type: none;
  margin: 0;
  margin-right: 10;
  padding: 0;
  overflow: visible;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #33ccff;
}

/* ============ Pogress bar ============ */
.w3-round-xlarge {
    border-radius:16px;
}
.w3-container:after,.w3-container:before {
    content:"";
    display:table;
    clear:both
}
.w3-blue,.w3-hover-blue:hover {
    color:#fff!important;
    background-color:#2196F3!important
}
.w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover {
    color:#000!important;
    background-color:#f1f1f1!important
}
.w3-round,.w3-round-medium {
    border-radius:4px
}