@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.g-red-50 {
		background-color: rgba(255, 41, 20, 0.5);
		backdrop-filter: blur(2px);
	}
}
.text-10 {
	font-size: 10px;
}
.text-15 {
	font-size: 15px;
}
.text-16 {
	font-size: 16px;
}
.text-17 {
	font-size: 17px;
}
.text-18 {
	font-size: 18px;
}
.text-19 {
	font-size: 19px;
}
.text-20 {
	font-size: 20px;
}
.text-25 {
	font-size: 25px;
}
.text-30 {
	font-size: 30px;
}

.section-header {
	@apply text-center;
	@apply font-bold;
	@apply text-20;
	color: rgb(255, 103, 97);
}

.section {
	@apply pt-10;
	@apply pb-10;
}

.sword {
	@apply dark:text-white;
	@apply bg-center;
	@apply w-full;
	@apply h-12;
	@apply fill-current;
	@apply text-black;
	@apply bg-no-repeat;
}

ul > li:before {
	content: "";
	position: absolute;
	background-color: #ff0800;
	border-radius: 1px;
	width: 0.7em;
	height: 0.125em;
	top: 0.8125em;
	left: 0;
}

ul > li {
	position: relative;
	padding-left: 1.3em;
}

li {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}

.area {
	@apply mt-10;
}

.project {
	padding: 20px;
	width: 80%;
	height: 10rem;
	border-radius: 10px;
	align-self: center;
}

.link {
	color: rgb(226, 65, 1);
}
.link:dark {
	color: rgb(255, 101, 40);
}
.link:hover {
	color: rgb(255, 51, 0);
}
.link:visited {
	color: rgb(255, 101, 40);
}

.btn {
	@apply hover:bg-red-400 focus:ring-4;
	@apply bg-red-600;
	@apply ring-inset ring-red-100 ring-opacity-10;
}

.switch {
	position: relative;
	display: inline-block;
	width: 35px;
	height: 18px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(255, 162, 109);
	-webkit-transition: 0.2s;
	transition: 0.2s;
	border-radius: 30px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 14px;
	width: 14px;
	left: 2px;
	bottom: 2px;
	background-color: rgb(255, 0, 0);
	-webkit-transition: 0.2s;
	transition: 0.2s;
	border-radius: 50%;
}

input:checked + .slider {
	background-color: rgb(255, 101, 40);
}

input:focus + .slider {
	box-shadow: 0 0 1px rgb(255, 101, 40);
}

input:checked + .slider:before {
	-webkit-transform: translateX(15px);
	-ms-transform: translateX(15px);
	transform: translateX(15px);
}
