@tailwind base;
@tailwind components;
@tailwind utilities;

.pagecontent {
	animation: fadein;
	animation-duration: 1.5s;
	animation-iteration-count: 1;
	
}

@keyframes fadein {
	from { opacity: 15%; }
	to { opacity: 100%; }
}

.g-red-50 {
	background-color: rgba(255, 41, 20, 0.5);
	backdrop-filter: blur(2px);
}

.dark .dark\:bg-222 {
    --tw-text-opacity: 1;
    background-color: rgba(34, 34, 34, var(--tw-text-opacity));
}

.bg-222 {
	background-color: rgba(34, 34, 34, 1);
}

.text-10 {
	font-size: 10px;
}
.text-15 {
	font-size: 15px;
}
.text-16 {
	font-size: 16px;
}
.text-17 {
	font-size: 17px;
}
.text-18 {
	font-size: 18px;
}
.text-19 {
	font-size: 19px;
}
.text-20 {
	font-size: 20px;
}
.text-25 {
	font-size: 25px;
}
.text-30 {
	font-size: 30px;
}

.section-header {
	@apply text-center;
	@apply font-bold;
	font-size: 35px;
	color: rgb(255, 103, 97);
}

.section-header-2 {
	@apply text-center;
	@apply font-bold;
	font-size: 30px;
	color: rgb(255, 151, 147);
}

.section {
	@apply mt-12;
}

.sword {
	@apply dark:text-white;
	@apply bg-center;
	@apply w-full;
	@apply h-12;
	@apply fill-current;
	@apply text-black;
	@apply bg-no-repeat;
}

ul > li:before {
	content: "";
	position: absolute;
	background-color: #ff0800;
	border-radius: 1px;
	width: 0.7em;
	height: 0.125em;
	top: 0.8125em;
	left: 0;
}

ul > li {
	position: relative;
	padding-left: 1.3em;
}

li {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
}

.area {
	@apply mt-10;
}

.project {
	padding: 20px;
	width: 80%;
	height: 10rem;
	border-radius: 10px;
	align-self: center;
}

.link {
	color: rgb(255, 92, 51);
}
.link:dark {
	color: rgb(255, 92, 51);
}
.link:hover {
	color: rgb(219, 65, 26);
}
.link:visited {
	color: rgb(255, 92, 51);
}

.btn {
	@apply hover:bg-red-400 focus:ring-4;
	@apply bg-red-600;
	@apply ring-inset ring-red-100 ring-opacity-10;
}

.themetoggle {
	position: absolute;
	top: 15px;
	right: 15px;
}
