body {
    background-color: white!important;
    color: black!important;
}

textarea, input {
    color: black!important;
}
.post-frame {
    background-color: rgb(206, 206, 206)!important;
}
.com-frame {
    background-color: rgb(197, 196, 196)!important;
}
/*
.post-body {
    color: black;
}
*/