body {
    background-color: white!important;
    color: black!important;
}

textarea, input {
    color: black!important;
}
.com-frame {
    background-color: beige!important;
}
/*
.post-body {
    color: black;
}
*/