body {
    background-color: white!important;
    color: black!important;
}

textarea, input {
    color: black!important;
}
.com-frame {
    background-color: rgb(209, 209, 209)!important;
}
/*
.post-body {
    color: black;
}
*/