body {
    background-color: white!important;
    color: black!important;
}
textarea, input {
    color: black!important;
}
.post-frame {
    background-color: rgb(236, 236, 236)!important;
}
.com-frame {
    background-color: rgb(212, 212, 212)!important;
}
.sidenav {
    background-color: rgb(211, 211, 211)!important;
}
.sidenav .closebtn, .sidenav button.tab-, .sidenav button.active, .sidenav .logo-name, .site, .settings { color: black!important }