html {
    scroll-behavior: smooth;
    user-select: none;
}
  
@media (prefers-color-scheme: dark) {
    html {
        --bg: black;
        --color: white;
    }
    body {
        background: var(--bg);
        color: var(--color);
    }
    .progress-two {
        color: white;
    }
    .input-box {
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    html {
        --bg: rgb(206, 206, 206);
        --color: black;
    }
    body {
        background: var(--bg);
        color: var(--color);
    }
    .progress-two {
        color: black;
    }
    .input-box {
        color: black;
    }
}


/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 2px;
}
  
/* Handle On Hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


@font-face {
  font-family: 'MyHand';
  src: url('../Handwriting1.ttf') format('truetype');
}

h1, h2, h3, h4, h5, h6 {
    color: #fc5203;
}

body {
    font-family: /*"MyHand",*/Arial, sans-serif;
    font-size: 20px;
}

.date {
    color: gray;
    font-size: 15px;
}

.page-content {
    margin: 60px 5px 50px 5px;
}

.settings-svg {
    color: red;
    position: fixed;
    bottom: 0;
    float: left;
    cursor: help;
}

.s-output {
    background-color: gray;
    padding: 20px 30px 15px 30px;
    user-select: text;
    overflow-x: scroll;
    overflow-wrap: normal;
}

.settings-area {
    position: fixed;
}

.button-tran-red {
    color: white;
    padding: 4px 10px 4px 10px;
    background-color: red;
    border-radius: 10px;
    outline: 0;
    border: 1.5px solid red;
}
.button-tran-red:hover {
    color: black;
    border-radius: 5px;
}

.red-or {
    color: #fc5203;
}

.site {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 15px;
    color: gray;
    cursor: pointer;
}

.input-box {
    background-color: transparent;
    border-radius: 10px;
    border-color: red;
    border-width: 4px;
    outline: 0;
    padding: 15px;
}

[data-tooltip]:hover::before {
    content: attr(data-tooltip);
    position: absolute;
    top: -.25rem;
    transform: translateY(-100%);
    background-color: #333;
    color: white;
    padding: .25rem;
    border-radius: .2rem;
}

[data-tooltip] {
    position: relative;
}

a:link {
    color:rgb(247, 0, 0);
}

a:visited {
    color: rgb(247, 0, 0);
}

a:hover {
    color: rgb(255, 80, 80);
}

a:active {
    color: rgb(170, 0, 0);
}

.hr1 {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1.5px solid red;
    border-radius: 1px;
    margin-right: 70%;
}

.hr2 {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 3px solid red;
    border-radius: 2px;
}

/* ============ Nav Bar ============ */

/* == The Bar == */
.tab {
    overflow: hidden;
    background-color: #505050;
    padding: 0;
    width: fit-content;
    border-radius: 10px;
    position: fixed;
    top: 0;
    transform: translateX(-50%);
    left: 50%;
    z-index: 10;
}
        
/* == The Tabs == */
.tab button {
    background-color: #505050;
    float: left;
    border: none;
    outline: 0;
    cursor: pointer;
    transition: .5s;
    font-size: 13px;
    padding: 12px 14px;
    color: white;
    margin: auto;
}
        
/* == Tab Color On Hover == */
.tab button:hover {
    background-color: red;
    color: white;
}
        
/* == The Active Tab Color == */
.tab button.active {
    background-color: red;
    color: white;
}
        
/* == The Tab Content == */
.tabcontent {
    display: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
        
/* == The Animations == */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
        
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* ======== @media content size ======== */
@media only screen and (min-width: 601px) {
    .tab button {
        padding: 14px 16px;
        font-size: 15px;
    }
}
@media only screen and (max-width: 600px) {
    body {
        font-size: 17px;
    }
    .tab button {
        padding: 14px 16px;
    }
}
@media only screen and (max-width: 341px) {
    body {
        font-size: 17px;
    }
    .tab button {
        padding: 8px 10px;
    }
}