* {
    transition: background-color .4s;
}

html {
    scroll-behavior: smooth;
    user-select: none;
    -webkit-user-select: none;
}

#awn-popup-wrapper .awn-popup-body {
    background-color: #5c5c5c;
    color: white;
}

.awn-buttons {
    outline: 0;
}

/* === Scroll Bar === */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@font-face {
    font-family: 'MyHand';
    src: url('../Handwriting1.ttf') format('truetype');
}

h1, h2, h3, h4, h5, h6 {
    color: #fc5203;
}

body {
    font-size: 20px;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    user-select: none;
    -webkit-user-select: none;
}

#theme #theme-toggle .material-icons {
    font-size: 30px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.hide {
    display: none;
}

.date {
    color: gray;
    font-size: 15px;
}

.page-content {
    margin: 60px 5px 50px 5px;
}

.info-btn {
    display: initial;
}

.info-btn- {
    display: none;
}

.settings {
    color: gray;
    position: fixed;
    bottom: 10px;
    float: left;
    cursor: help;
    width: 35px;
    font-size: 20px;
}

.settings.active, .site.active, .settings:hover, .site:hover {
    color: red;
}

.s-output {
    background-color: gray;
    padding: 20px 30px 15px 30px;
    user-select: text;
    overflow-x: scroll;
    overflow-wrap: normal;
}

button.b {
    color: white;
    padding: 4px 10px 4px 10px;
    background-color: red;
    border-radius: 10px;
    outline: 0;
    border: 1.5px solid red;
}

button.b:hover {
    color: black;
    border-radius: 5px;
}

.site {
    position: fixed;
    font-size: 20px;
    bottom: 10px;
    right: 10px;
    font-size: 20px;
    color: gray;
    cursor: pointer;
}

textarea, input {
    background-color: transparent;
    border-radius: 10px;
    border-color: red;
    border-width: 4px;
    outline: 0;
    padding: 8px;
}

input {
    border-radius: 5px;
    border-width: 2px;
    padding: 2px;
    margin: 3px;
}

a:link, a:visited {
    color: rgb(255, 39, 39);
}

a:hover {
    color: rgb(255, 80, 80);
}

a:active {
    color: rgb(170, 0, 0);
}

.hr2, .hr1 {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 3px solid red;
    border-radius: 2px;
}

.hr1 {
    border: 1.5px solid red;
    border-radius: 1px;
    margin-right: 70%;
}

.post-frame {
    padding-top: 5px;
    padding-left: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.com-frame {
    padding: 20px;
    margin-top: 20px;
    background-color: #505050;
}

.post-title {
    font-weight: bold;
    margin-bottom: 15px;
    color: #ff7247;
}

.post-body {
    margin-bottom: 10px;
}

.post-info {
    color: #888;
    font-size: 20px;
    bottom: 5px;
}

.post-info span {
    margin-right: 10px;
}

.post-info i {
    font-size: 20px;
    transform: translateY(3px);
}

.post-info i:hover {
    color: red;
}

.com-post textarea {
    width: -webkit-fill-available;
}

.post-coms {
    height: 0;
    overflow-y: scroll;
    transition: .3s;
}

/* ====== NavBar & SideBar ====== */

/* == The bar == */

.bar {
    overflow: hidden;
    background-color: #505050;
    padding: 0;
    width: fit-content;
    border-radius: 10px;
    position: fixed;
    top: 0;
    transform: translateX(-50%);
    left: 50%;
    z-index: 10;
}

/* == The Tabs == */

.bar button {
    background-color: #505050;
    float: left;
    border: none;
    outline: 0;
    cursor: pointer;
    transition: .5s;
    font-size: 13px;
    padding: 12px 14px;
    color: white;
    margin: auto;
}

/* == Tab Color On Hover == */

.bar button:hover {
    background-color: red;
    color: white;
}

/* == The Active Tab Color == */

.bar button.active {
    background-color: red;
    color: white;
}

/* == The Tab Content == */

.tab {
    display: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

/* == The Animations == */

@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* == SideBar == */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 60px;
    transition: .3s;
}

/* == Close Button == */

.sidenav .closebtn {
    position: absolute;
    padding-right: 2px;
    top: 5px;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
    background-color: transparent;
    color: white;
    border: none;
    outline: 0;
}

/* == The Nav Buttons == */

.sidenav button.tab- {
    background-color: transparent;
    border: none;
    outline: 0;
    transition: .5s;
    font-size: 18px;
    width: 250px;
    height: 50px;
    color: white;
    margin: auto;
    margin-top: 2px;
}

.sidenav button.active {
    background-color: red;
    color: white;
}

.sidenav .logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
}

.sidenav .logo-name {
    position: absolute;
    top: 10px;
    left: 60px;
    font-size: 18px;
    color: white;
}

.menu {
    display: none;
    font-size: 30px;
    position: fixed;
    top: 0;
    margin-top: 0;
    left: 10px;
}

.h {
    display: none;
}

/* ======== @media content size ======== */

@media only screen and (max-width: 450px) {
    .bar {
        display: none;
    }
    .menu {
        display: initial;
    }
    .page-content {
        margin: 70px 5px 50px 5px;
    }
    .h {
        display: initial;
    }
    .top {
        position: fixed;
        top: 0;
        margin-top: 10px;
        right: 10px;
    }
    .info-btn {
        display: none;
    }
    .info-btn- {
        display: initial;
    }
    .site {
        position: absolute;
        bottom: 70px;
        right: 10px;
        font-size: 30px;
        color: white;
        cursor: initial;
    }
    .settings {
        color: white;
        position: absolute;
        bottom: 70px;
        left: 10px;
        cursor: initial;
        font-size: 30px;
    }
}

@media only screen and (max-height: 500px) {
    .bar {
        display: none;
    }
    .menu {
        display: initial;
    }
    .page-content {
        margin: 70px 5px 50px 5px;
    }
    .h {
        display: initial;
    }
    .top {
        position: fixed;
        top: 0;
        margin-top: 10px;
        right: 10px;
    }
    .info-btn {
        display: none;
    }
    .info-btn- {
        display: initial;
    }
    .site {
        position: absolute;
        bottom: 110px;
        left: 10px;
        font-size: 30px;
        color: white;
        cursor: initial;
    }
    .settings {
        color: white;
        position: absolute;
        bottom: 70px;
        left: 10px;
        cursor: initial;
        font-size: 30px;
    }
}