html {
    scroll-behavior: smooth;
    user-select: none;
    --size: 20px;
}
  
@media (prefers-color-scheme: dark) {
    html {
        --bg: black;
        --color: white;
    }
    body {
        background: var(--bg);
        color: var(--color);
    }
    .progress-two {
        color: white;
    }
    .input-box {
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    html {
        --bg: rgb(206, 206, 206);
        --color: black;
    }
    body {
        background: var(--bg);
        color: var(--color);
    }
    .progress-two {
        color: black;
    }
    .input-box {
        color: black;
    }
}


/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: transparent; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 2px;
}
  
/* Handle On Hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


@font-face {
  font-family: 'MyHand';
  src: url('../Handwriting1.ttf') format('truetype');
}

h1, h2, h3, h4, h5, h6 {
    color: #fc5203;
}

body {
    font-family: /*"MyHand",*/Arial, sans-serif;
    font-size: var(--size);
}

.date {
    color: gray;
    font-size: 15px;
}

.page-content {
    margin: 60px 5px 50px 5px;
}

.info-btn { display: initial; }
.info-btn- { display: none; }

.settings-svg {
    color: white;
    position: fixed;
    bottom: 0;
    float: left;
    cursor: help;
    width: 35px;
    font-size: 20px;
}
.settings-svg.active {
    color: red;
}

.s-output {
    background-color: gray;
    padding: 20px 30px 15px 30px;
    user-select: text;
    overflow-x: scroll;
    overflow-wrap: normal;
}

.button-tran-red {
    color: white;
    padding: 4px 10px 4px 10px;
    background-color: red;
    border-radius: 10px;
    outline: 0;
    border: 1.5px solid red;
}
.button-tran-red:hover {
    color: black;
    border-radius: 5px;
}

.site {
    position: fixed;
    font-size: 20px;
    bottom: 10px;
    right: 10px;
    font-size: 20px;
    color: gray;
    cursor: pointer;
}
.site.active {
    color: red;
}

.input-box {
    background-color: transparent;
    border-radius: 10px;
    border-color: red;
    border-width: 4px;
    outline: 0;
    padding: 15px;
}

[data-tooltip]:hover::before {
    content: attr(data-tooltip);
    position: absolute;
    top: -.25rem;
    transform: translateY(-100%);
    background-color: #333;
    color: white;
    padding: .25rem;
    border-radius: .2rem;
}

[data-tooltip] {
    position: relative;
}

a:link {
    color:rgb(255, 39, 39);
}

a:visited {
    color: rgb(255, 39, 39);
}

a:hover {
    color: rgb(255, 80, 80);
}

a:active {
    color: rgb(170, 0, 0);
}

.hr1 {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1.5px solid red;
    border-radius: 1px;
    margin-right: 70%;
}

.hr2 {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 3px solid red;
    border-radius: 2px;
}


/* ====== NavBar & SideBar ====== */

/* == The bar == */
.bar {
    overflow: hidden;
    background-color: #505050;
    padding: 0;
    width: fit-content;
    border-radius: 10px;
    position: fixed;
    top: 0;
    transform: translateX(-50%);
    left: 50%;
    z-index: 10;
}
        
/* == The Tabs == */
.bar button {
    background-color: #505050;
    float: left;
    border: none;
    outline: 0;
    cursor: pointer;
    transition: .5s;
    font-size: 13px;
    padding: 12px 14px;
    color: white;
    margin: auto;
}
        
/* == Tab Color On Hover == */
.bar button:hover {
    background-color: red;
    color: white;
}
        
/* == The Active Tab Color == */
.bar button.active {
    background-color: red;
    color: white;
}
        
/* == The Tab Content == */
.tab {
    display: none;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
        
/* == The Animations == */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
        
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* == SideBar == */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: .3s;
}

/* == Close Button == */
.sidenav .closebtn {
    position: absolute;
    top: 5px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    background-color: transparent;
    color: white;
    border: none;
    outline: 0;
}

/* == The Nav Buttons == */
.sidenav button.tab- {
    background-color: transparent;
    border: none;
    outline: 0;
    transition: .5s;
    font-size: 18px;
    width: 250px;
    height: 50px;
    color: white;
    margin: auto;
    margin-top: 2px;
}

.sidenav button.active {
    background-color: red;
    color: white;
}

.sidenav .logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
}
.sidenav .logo-name {
    position: absolute;
    top: 10px;
    left: 60px;
    font-size: 18px;
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

.menu {
    display: none;
    font-size: 30px;
    position: fixed;
    top: 0;
    margin-top: 0;
    left: 10px;
}

.h {
    display: none;
}

/* ======== @media content size ======== */
@media only screen and (max-width: 450px) {
    .bar {
        display: none;
    }
    .menu {
        display: initial;
    }
    .page-content {
        margin: 70px 5px 50px 5px;
    }
    .h { display: initial; }
    .top {
        position: fixed;
        top: 0;
        margin-top: 10px;
        right: 10px;
    }

    .info-btn { display: none; }
    .info-btn- { display: initial; }

    .site {
        position: absolute;
        bottom: 70px;
        right: 20px;
        font-size: 20px;
        color: inherit;
        cursor: initial;
    }

    .settings-svg {
        color: white;
        position: absolute;
        bottom: 65px;
        left: 15px;
        cursor: initial;
        width: 30px;
        font-size: 20px;
    }
}