/* ================ JavaScript Tabs ============ */

/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #222222;
    padding: 0;
    width: auto;
    border-radius: 15px;
    position: fixed;
    top: 0;
    margin-left: 280px;
    z-index: 10;
}
        
/* Style the buttons inside the tab */
.tab button {
    background-color: #505050;
    float: left;
    border: none;
    outline: 0;
    cursor: pointer;
    transition: .5s;
    font-size: 17px;
    padding: 14px 16px;
    color: white;
    margin: auto;
}
        
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: red;
    color: white;
}
        
/* Create an active/current tablink class */
.tab button.active {
    background-color: red;
    color: white;
}
        
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 2s;
    animation: fadeEffect 2s;
}
        
/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
        
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* ============ Screen Content ============ */
@media screen and (max-width: 700px) {
    .tab {
        margin-left: 5px;
    }
    
    .tab button {
        padding: 12px 14px;
        font-size: 12px;
    }
    
    .page-content {
        margin: 40px 0 5px 5px;
    }
}

.page-content {
    margin: 70px 0 20px 20px;
}

/* ============ Body ============= */
	
body {
    font-family: "Nano Sans", Arial, sans-serif;
    color: white;
    background: #222222;
}

/* ============ Other Classes ============ */
.warning {
    background-color: red;
    border-radius: 15px;
    text-align: center;
    padding: 15px 30px;
}

.settings-svg {
    color: blue;
}
.settings-svg:hover {
    color: blue;
}
.settings-svg:active {
    color: red;
}

.site-user-name {
    position: fixed;
    top: 5px;
    background-color: rgb(34, 34, 34, 0.5);
}

/* ============ Links ============ */

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: lightgray;
}

a:active {
    color: darkgray;
}

/* Nav bar ends */
.item-one {
    border-radius: 15px 0 0 15px;
}
.item-end {
    border-radius: 0 15px 15px 0;
}

/* ============ Pogress bar ============ */

.progress-one {
    color: #000;
    background-color: #f1f1f1;
    border-radius: 16px;
}

.progress-two {
    padding: 0.01em 16;
    border-radius: 16px;
    display: table;
    clear: both;
    color: #fff;
    background-color: #2196F3;
}

.w3-container {
    padding:0.01em 16px;
}

.w3-container:after,.w3-container:before {
    content:"";
}

.w3-round-xlarge {
    border-radius:16px;
}

.w3-blue,.w3-hover-blue:hover {
	color: #fff!important;
	background-color: #2196F3!important;
}

.w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover {
    color:#000!important;
    background-color:#f1f1f1!important;
}

.w3-round,.w3-round-medium {
    border-radius:16px;
}