@tailwind base;
@tailwind components;
@tailwind utilities;

.text-16px {
  font-size: 16px;
}

.section-header {
  @apply text-center;
  @apply text-red-500;
  @apply font-bold;
  font-size: 18px;
}

.section {
  @apply bg-center;
  @apply bg-contain;
  @apply mt-10;
  @apply fill-current;
  @apply bg-no-repeat;
  @apply dark:text-yellow-400;
  @apply text-red-400;
  @apply pt-20;
  @apply h-12;
  background-image: url("https://insberr.github.io/src/images/sword.svg")
}
